@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Importante per il layout verticale */
}
body {
	background: linear-gradient(to bottom, #5eaed7 0%, #1e528e 100%);
	display: flex;
	flex-direction: column; 
	font-family: "Pacifico", cursive;
	height: 100vh; /* Imposta l'altezza del body a tutta la finestra */
    margin: 0; /* Rimuove i margini di default */
	text-align: center; 
	justify-content: center; /* Centra verticalmente */
	align-content: center; /* Centra orizzontalmente */
}
h1 {
	font-size: 2.5rem;
	color: white;
	text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
	margin: 20px 0; /* Aggiunge un po' di spazio sopra e sotto */
}
.wrapper {
  width: 500px;
  margin: 20px auto; /* Aggiunge spazio tra i contenuti */
  border-radius: 41px;
  box-shadow:  7px 7px 15px #cecece,
             -7px -7px 15px #f2f2f2;
}
.wrapper img {
    width: 100%; /* Make the image fill the wrapper */
    height: auto; /* Maintain the aspect ratio */
	border-radius: 41px;
    display: block; /* Remove any extra space below the image */
}
.title {
  font-size: 1.5rem;
  text-align: center;
}
ul#adventDoors {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
#adventDoors li {
	position: absolute;
}
#adventDoors li a {
	color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	font-size: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	border: 1px #fff solid;
	text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
}
#adventDoors li a:not(.disabled):hover {
	color: #fff;
	background-color: transparent;
	background-color: rgba(255,255,255,0.15);
}
#adventDoors li a.disabled {
	border-color: #5eaed7;
	background-color: rgba(255,255,255,0.15);
	color: #5eaed7;
	cursor: default;
}
/*Animazione neve*/
@keyframes fall {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  top: 100vh;
	  opacity: 1;
	}
}
  @keyframes sway {
	0% {
	  margin-left: 0;
	}
	25% {
	  margin-left: 50px;
	}
	50% {
	  margin-left: -50px;
	}
	75% {
	  margin-left: 50px;
	}
	100% {
	  margin-left: 0;
	}
}
#snow-container {  
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: opacity 500ms;
	width: 100%;
}
.snow {
	animation: fall ease-in infinite, sway ease-in-out infinite;
	color: rgb(159, 214, 236);
	position: absolute;
}
/*Definizione pop up*/
.popup {
    position: absolute;
    width: 100%;
    height: 100%;
	margin: 0;
    background: rgba(0, 0, 0, 0.5); /* Sfondo scuro trasparente */
    z-index: 1000;
    opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    pointer-events: none; /* Rende l'elemento non cliccabile */
    transition: opacity 1s ease; /* Animazione di apparizione */
}
/* Mostra il popup e definisce i parametri del contenuto*/
.popup.show {
    opacity: 1;
    pointer-events: auto; /* Rende l'elemento cliccabile */
}
.popup .popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	width: 450px;
	background: #f5f5f5;
	border-radius: 10px; 
	font-size: 24px;
}
/* Bottone di chiusura */
/*.popup .popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
    background: #c4c3c3;
    color: #111;
	font-size: 20px;
	font-weight: 600;
    cursor: pointer;
}*/
/*Hover sul bottone di chiusura*/
/*.popup .popup-content .close:hover {
    background: #555;
}*/
/* Animazione di scalatura */
@keyframes popup-scale {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}